*{
    
   box-sizing: inherit;
}

html,body {
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
  margin: 10px 0;
  font-weight: 400;
}
p{
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 55px;
    align-items: center;
    background-color: #fff;    
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 
    0 2px 10px 0 rgba(0,0,0,0.12);  
}
.menu_top{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.menu__logo{
    padding: 8px 16px;
}

.menu__nav__item{
    padding: 8px 16px;
       
}

.item{
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    letter-spacing: 4px;
    text-decoration: none;
    color: #000;
}

.item:hover{
    background-color: #9e9e9e;
}


.header{
    max-width: 1600px;
    min-width: 500px;
}

    
.header__block_img{
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-height: 800px;
}

.img{
    max-width: 100%;
    height: auto;
}

.header__block_img__h1{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 24px;
    opacity: 0.60;
}



.content{
    max-width: 1100px;
    margin: 0 auto;
}

.content__container{
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
}

.content__container__block_img{
    padding: 12px 24px;
}

.block_img{
    float: left;
}

.content__container__block_text{
    padding: 12px 24px;
}

.block_text{
    box-sizing: inherit ;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1{     
    font-size: 36px; 
    text-align: center;   
}
.h4{
    font-size: 20px;
}

.h5{
    font-size: 18px;
}

.content__container__block_text__p{
    font-size: 18px;    
}

.content__container__block_text__p__span{
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    background-color: #f1f1f1;
    font-size: 18px ;
}

.p_color757575{
    color: #757575;
}

.p_15{
    color: #757575;
    font_size: 15px;
    margin: 15px 0;
}

hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
.content__container__block_text__p{

}

.content__container_vertical{
    flex-direction: column;
    padding: 64px 16px ;
}

.content__container__h1_left{
    text-align: left;
}

.content__container__p_blue{
    font-weight: bolder;
    color: #607d8b;
    font-size: 18px;
}

.content__container_form__input{
    padding: 16px 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    overflow: visible;
}
.button{
    color: #000 ;
    background-color: #f1f1f1   ;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.content__container__form__button    
    margin: 16px 0  ;
}
