<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>11111111</h1>
<h2>222222222</h2>
<h3>3333333</h3>
<h4>4444444</h4>
<h5>55555</h5>
<h6>666666</h6>

<p>paragraph</p>
<pre>pre-formatting
    text</pre>
<hr>
HTML Formatting elements:
<br><b>bold text</b>
<br><strong>important text</strong>
<br><i>italic text</i>
<br><em>Emphasized text</em>
<br><mark>Marked text</mark>
<br><small>Small text</small>
<br><del>Deleted text</del>
<br><ins>Inserted text</ins>
<br><sub>subscrict text</sub>
<br><sup>supscrict text</sup>
<hr>
HTML Quatation and Citation elements
<p>Here is a quote from WWF's website:</p>
<blockquote cite="http://www.worldwildlife.org/who/index.html">
For 60 years, WWF has worked to help people and nature thrive. As the world's leading conservation organization, WWF works in nearly 100 countries. At every level, we collaborate with people around the world to develop and deliver innovative solutions that protect communities, wildlife, and the places in which they live.
</blockquote>

<p>Tom say: <q>How are you?</q></p>
<abbr title="World Wide Web">WWW</abbr>
<address>
  Буммашевсская 41, 36
</address>
<p><cite>Трое из леса</cite> автор Юрий Никитин</p>
<bdo dir="rtl">This text will be written from right to left</bdo><br>
<hr>

<!-- Comments-->
<a href="#">Ссылка</a><br>
<img src="#" alt="alternative text"><br>

<table>
  <tr>
    <th>Person 1</th>
    <th>Person 2</th>
    <th>Person 3</th>
  </tr>
  <tr>
    <td>Emil</td>
    <td>Tobias</td>
    <td>Linus</td>
  </tr>
  <tr>
    <td>16</td>
    <td>14</td>
    <td>10</td>
  </tr>
</table>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<ol>
    <li>Отжимания</li>
    <li>Пресс качать</li>
    <li>Бегить</li>
</ol>
</body>

</html>