<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style_for_first_template.css">
</head>
<body>

<!-- Navbar (sit on top) -->

<div class="menu menu_top">
    <a href="#home" class='menu__logo item'>Gourmet au Catering</a>
    <nav class='menu__nav'>
        <a href="#about" class="menu__nav__item item">About</a>
        <a href="#menu" class="menu__nav__item item">Menu</a>
        <a href="#contact" class="menu__nav__item item">Contact</a>
    </nav>
</div>

<!-- Header -->

<header class='header' id='home'>    
    <div class='header__block_img block_img'>
        <img class='header__block_img__img img' src="../static/image/first_templates/hamburger.jpg" alt="Hamburger Catering">
        <h1 class='header__block_img__h1 h1'>Le Catering</h1>
    </div>
</header>

<!-- Page content -->

<main class='content'>

    <!-- About Section -->

    <div class="content__container" id='about'>
        <div class="content__container__block_img block_img">
            <img class='img' src="../static/image/first_templates/tablesetting2.jpg" alt="">
        </div>
        
        <div class="content__container__block_text block_text">
            <h1 class='content__container__block_text__h1 h1'>
                About Catering
            </h1>
            <br>
            <h5 class='content__container__block_text__h5 h5'>
                Tradition since 1889
            </h5>
            <p class='content__container__block_text__p p'>
                The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use <span class='content__container__block_text__p__span span'>seasonal</span> ingredients.
            </p>
            <p class='content__container__block_text__p p p_color757575'>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
    </div>

    <hr> <!-- menu Section -->

    <div class="content__container" id='menu'>
        <div class="content__container__block_text block">
            <h1 class="content__container__block_text__h1 h1">Our Menu</h1>
            <h4 class="content__container__block_text__h4 h4">Bread Basket</h4>
            <p class="content__container__block_text__p p p_15">Assortment of fresh baked fruit breads and muffins 5.50</p>
            <h4 class="content__container__block_text__h4 content__container__block_text__h4">Honey Almond Granola with Fruits</h4>
            <p class="content__container__block_text__p p">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p>
            <h4 class="content__container__block_text__h4 h4">Belgian Waffle</h4>
            <p class="content__container__block_text__p p p_15">Vanilla flavored batter with malted flour 7.50</p>
            <h4 class="content__container__block_text__h4 h4">Scrambled eggs</h4>
            <p class="content__container__block_text__p p p_15">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p>
            <h4 class="content__container__block_text__h4 h4">Blueberry Pancakes</h4>
            <p class="content__container__block_text__p p p_15">With syrup, butter and lots of berries 8.50</p>
        </div>
        <div class="content__container__block_img">
            <img src="../static/image/first_templates/tablesetting.jpg" alt="" class='content__container__block_img__img img'>
        </div>
    </div>

    <hr> <!-- contact Section -->

    <div class="content__container content__container_vertical" id='contact'>
        <h1 class="content__container__h1_left h1 h1">Contact</h1>
        <br>
        <p class="content__container__p p">We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to contact us.</p>
        <p class="content__container__p_blue p">Catering Service, 42nd Living St, 43043 New York, NY</p>
        <p class="content__container__p p">You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a message here:</p>
        <form action="" class="content__container__form" method="post">
            <p>
                <input class='content__container_form__input' type="text" placeholder="Name" required='' name="name">
            </p>
            <p>
                <input class='content__container_form__input' type="number" placeholder="How many people" required='' name="people">
            </p>
            <p>
                <input class="content__container_form__input" type="datetime-local" placeholder="Date and time" required="" name="date" value="2020-11-16T20:00">
            </p>
            <p>
                <input class='content__container_form__input' type="text" placeholder="Message \ Special requirements" required='' name="message">
            </p>
            <p>
                <button class="content__container__form__button button">SEND MESSAGE</button>                
            </p>
        </form>
    </div>
</main>
<footer class="footer">
    <p class="footer__p p">Powered by Andrey Kiselev</p>
</footer>
</body> 
</html>